@CHARSET "UTF-8";

.userCardLabelStyle {
    width: 50px;
    float: left;
    padding: 4px;
}

.userCardTextBoxStyle {
    width: 170px;
    float: right;
}

.userCardTexAreaStyle {
    margin-top: 3px;
    width: 168px;
    height: 50px;
    float: right;

    max-width: 168px;
    max-height: 50px;;
}

.userCardButtonStyle {
    float: right;
}

.cellTableStyle {
    width: 100%;
}

.notesTextAreaStyle {
    margin: 6px;
    width: 230px;
    height: 70px;

    max-width: 230px;
    max-height: 70px;;
}

.notesButtonStyle {
    float: right;
}
