@CHARSET "UTF-8";

.buttonStyle {
    float: right;
}

.labelStyle {
    width: 50px;
    float: left;
    padding: 5px;
}

.textBoxStyle {
    width: 180px;
    float: left;
}

.cellTableStyle {
    width: 100%;
}

.userCardTexAreaStyle {
    margin-top: 3px;
    width: 178px;
    height: 40px;
    float: left;
}

.notesTexAreaStyle {
    margin: 6px;
    width: 230px;
    height: 70px;
}
